body {
    background-color: #282a36;
  }
  h1 {
    color: #ff79c6;
  }
  p {
    color: #f8f8f2;
  }
  .banner{
    width: 100%;
    height: 100%;
    /*background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url(bilder/bakgrunn.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center; */
}
.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
} 
.logo{
  width: 120px;
  cursor: pointer;
}
.navbar ul li{
  list-style: 0;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a{
  text-decoration: none;
  color: #f8f8f2;
  text-transform: uppercase;
}
.navbar ul li::after{
  content:'';
  height: 3px;
  width: 0;
  background: #ff79c6;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.navbar ul li:hover::after{
  width: 100%;
}
button{
  width:200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #ff79c6;
  background: transparent;
  color: #fff;
  cursor:pointer;
  position: relative;
  overflow: hidden;
}
span{
  background: #ff79c6;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.4s;
}
button:hover span{
  width:100%;
}
button:hover{
  border: none;
}